$primary-color: #b61984;
$white-text: #fff;
$white-bg: #fff;
$border-primary-color: #b61984;
$border-bottom-color: #abb8c3;
$text-color: #181818;

$header-font-size: 13px;
$header-font-weight-bold: 600;
$header-font-weight-light: 400;
$header-lg-height: 98px;
$header-xs-height: 66px;

$btn-font-weight: 500;

$spacing-small: 4px;
$mt-lg-about-section: $header-lg-height;
$mt-xs-about-section: $header-xs-height;

$weight-bold: 600;
$weight-bold-2: 700;

$padding-top-ourteam-section: 28px;
// $padding-top-lg-aboutus-section: 100px;

$light-purple: #dcd1f0;

$border-radius: 14px;

$mb-card-body-item: 0.7em;

$font-weight-light: 400;

$padding-top-course: 4em;

$padding-top-footer: 8em;
$padding-bottom-footer-1: 8em;
$padding-bottom-footer-2: 0.5em;
$margin-bottom-1-footer: 0.2em;
$margin-bottom-2-footer: 5em;
$margin-top-1-footer: 1em;

